*{
    font-family: Calibri;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-item {
    background: #34495e;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    -webkit-box-shadow: 10px 15px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 15px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 15px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.flex-item:nth-child(even):hover {
    transform: rotate(10deg) scale(1.5);
    background-color: #95a5a6;
}

.flex-item:nth-child(odd):hover {
    transform: rotate(-10deg) scale(1.5);
    background-color: #95a5a6;
}

.menu{
    max-width: 500px;
    margin: auto;
    font-size: 20px;
}


.menu a:hover{
    color:#f1c40f;
}


img {
    max-width: 100%;
    height: auto;
}

table, td, th {
    border-collapse: collapse;
    /*
    border: 1px solid;
    */
}

table, form{
    max-width: 500px;
    margin: auto;
}

.info th,td {
    padding:15px;
    text-align: left;
}

.info th{
    background-color: #1abc9c;
    color:white;
}

.recherche input[type=text]{

margin: 8px 0px;
}

